.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    -webkit-background-size:cover;
    background-size: cover;
}
.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0%;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
}
.carousel-caption{
    bottom: 180px;
    padding-left: 100px;
    padding-right: 100px;
    
}
.carousel-caption h5{
    font-size: 80px;
    font-weight: 500;
}

.slider-btn .btn{
    background-color: dodgerblue;
    color: aliceblue;
    padding: 1.5rem,2rem;
    font-size: 1rem;
    margin-right: 15px;
    
}
.popularcourses{
    text-align: center;
}
.slider-btn {
    text-align: center;
    
}
 /* footer style */
 .footer{
    margin-top: 50px;
    height: 250px;
    background-color: black;
    width: 100%;
}
.footer-title h2{
    color: black;
    text-align: center;
    padding-top: 50px
    ;
}
nav a{
    text-decoration: none;
    color:gray;
    margin-right: 20px;
   
}
.footer-nav{
    text-align: center;
    margin-top: 15px;
}
hr{
border:1px solid #d1d1d1;}
/* //social media part */
.social-media{
    font-size: 25px;
}